APP_NAME=ARGUS Core API
APP_ENV=development
API_CORS_ORIGINS=http://localhost:5173
CAMERA_HEARTBEAT_TIMEOUT_SECONDS=15

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=argus
MONGO_USER=argus_admin
MONGO_PASSWORD=argus_password
